@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "navbar"
    "header"
    "content"
    "contact"
    "footer";
}

/* NAVIGATION BAR */
.navbar {
  grid-area: navbar;
  font-size: 14px;
  font-weight: 450;
}
li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
  font-size: 14px;
  color: #edf0f1;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
  border-bottom: aquamarine solid;
  padding: 20px 5%;
  user-select: none;
}
header p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
  color: #edf0f1;
  cursor: default;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.5s ease 0s;
}
.nav_links li a:hover {
  color: #0088a9;
}

/* ~~~HEADER~~~ */
.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #24252a;
  padding: 20px;
  border-bottom: aquamarine dotted;
}
.about-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 280px;
}
.about-us {
  color: #a87e56;
  text-align: center;
  padding: 15px 200px 0px;
}

/* ~~~CONTENT~~~ */
.content {
  grid-area: content;
  background-color: #24252a;
  color: #a87e56;
  padding: 10px 20px 20px;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15px;
  column-gap: 20px;
  row-gap: 20px;
}
.isi-card {
  color: #242424;
  font-weight: 600;
  text-align: center;
  background-color: whitesmoke;
  box-sizing: border-box;
  height: 100%;
  width: auto;
  padding: 10px;
}
.isi-card img {
  border-radius: 20%;
  height: 250px;
  width: 250px;
  padding: 10px;
}
.btn {
  font-size: 1em;
  font-weight: 150;
  text-transform: uppercase;
  width: 100px;
  height: 40px;
  background-color: darkseagreen;
  border-radius: 20px;
  margin: 5px;
}
.btn:hover {
  background-color: bisque;
}

/* ~~~CONTACT~~~ */
.contact {
  grid-area: contact;
  background-color: #4d4948;
  text-align: center;
  padding: 10px;
}
.contact a {
  text-decoration: none;
}

/* ~~~FOOTER~~~ */
.footer {
  grid-area: footer;
  background-color: #262424;
  text-align: center;
  color: #ffffff;
  padding: 25px 30px 25px;
}

*{
	padding: 0;
	margin: 0;
	font-family: 'Verdana',arial,sans-serif;
}
a{
	color: inherit;
	text-decoration: none; /* untuk menghilangkan garis bawah*/
}
.medsos h1{
	padding: 0;
	background-color: #ffffff;
	font color : #ffffff;
	width: 100%;
	font-size : 12px;
	text-align: left;

}
.medsos{
	padding: 10px 0;
	background-color: #37E6F7;
}
.medsos ul li{
	display: inline-block;
	color: #fff;
	margin-right: 10px; /untuk menambahkan jarak/
}
.container{
	width: 80%;
	margin: 0 auto;
}

header{

}
header h1{
	float: left; /agar NURY SHOP TETAP DI KIRI/
	padding: 15px 0;
	color: #37E6F7;
}
header ul{
	float: right; /agar HOME PRODUK DAN CONTACT ada di kanan/
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block; 
}
.active{
	background-color: #37E6F7;
	color: #fff;
}
.container:after{
	content: " ";
	display: block;
	clear: both;
}
.banner{
	height: 60vh;
	background-image: url(../img/sekolah5.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(55, 230, 247, .3);
}
.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}
section{
	padding: 50px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #37E6F7;
}
.middle{
		width: 300px;
		border: 1px solid #dedede;
		padding: 10px;
		margin: 10px;
		float: left;
	}
		.middle img{
			max-width: 100%;
			height: auto;
		}
		.middle a{
			font-weight: bold;
		}
		.middle a:hover{
			color: #461AF3;
		}
		h3{
	margin-bottom: 20px;
	border-bottom: 1px solid #000;
}

.about p{
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
}
.contact{
	background-color: #83FAE9;
}
footer{
	padding: 30px 0;
	background-color: #AAF9EF;
	color: #fff; /* warna font*/
	text-align: center;
}
.services{
	background-color: #f9f9f9;
}
.box{
	color: #10dbe9;
}
.box:after{
	content: " ";
	display: block;
	clear: both;
}
.box .col-2{
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left; /agar mobile app-digital marketing mnjadi baris atau menyamping/
}
.icon{
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%; /*untuk mengganti persegi ke bulat */
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin: 0 auto;
}
.box .col-2 h4{
	margin: 20px 0;
}


/* Sidebar/left column */

.side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: #white;
    padding: 40px;
}
/* Main column */

.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
    margin: 20PX AUTO;
}
.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0;
}

* {
    box-sizing: border-box;
}


/* Style the body */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}


/* Header/logo Title */

.header {
    padding: 100%;
    text-align: center;
    background: radial-gradient(circle, rgba(208, 0, 73, 1) 0%, rgba(104, 13, 26, 1) 64%);
    color: white;
}


/* Increase the font size of the heading */

.header h1 {
    font-size: 40px;
}


/* Style the top navigation bar */

.navbar {
    overflow: hidden;
    background-color: rgb(54, 54, 54);
}


/* Style the navigation bar links */

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


/* Right-aligned link */

.navbar a.right {
    float: right;
}


/* Change color on hover */

.navbar a:hover {
    background-color: rgb(170, 169, 169);
    color: black;
}


/* Column container */

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}


/* Create two unequal columns that sits next to each other */

]

/* Fake image, just for this example */


/* Footer */

.footer {
    padding: 10px;
    text-align: center;
    background: radial-gradient(circle, rgba(208, 0, 73, 1) 0%, rgba(104, 13, 26, 1) 64%);
    color: white;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 100%) {
    .row {
        flex-direction: column;
    }
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 100%) {
    .navbar a {
        float: none;
        width: 100%;
    }
}


body{
  backgroud : #dedede;
  font-family : 'Verdana',arial,sans-serif;
  font-size : 100%;

}

/* main */
  .left{
    width   : 250px;
    border    : 1px solid #dedede;
    padding   : 10px;
    margin    : 10px;
    float   : left;
  }
    .left ul{
      list-style-type : none;
    }

    .left ul li{
      display : block;
    }

    .left ul li a{
      display     :block;
      border-bottom : 1px solid #dedede;
      margin-bottom : 10px;
      padding     : 10px 5px;
      font-color    : #D3D2ED;
    }

    .left ul li a:hover{
      color:#461AF3;
    }


  .middle{
    width : 500px;
    border  : 1px solid #dedede;
    padding : 10px;
    margin  : 10px;
    float : left;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
  }
    .middle img{
      max-width : 20px;
      height    : auto;
    }

    .middle a{
      font-wight:bold;
    }

  .right{
    width : 250px;
    border  : 1px solid #dedede;
    padding : 10px;
    margin  : 10px;
    float : left;
  }

    .right ul{
      list-style-type : none;
    }

    .right ul li{
      display : block;
    }

    .right ul li a{
      display     :block;
      border-bottom : 1px solid #dedede;
      margin-bottom : 10px;
      padding     : 10px 5px;
    }

    .right ul li a:hover{
      color:#461AF3;
    }

